<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="uploadNews" method="POST">
        Title: <input type="text" name="txtTitle"><br>
        Content: <input type="text" name="txtContent"><br>
        <input type="submit" value="Upload">
        <button><a href="/writer">Cancel</a></button>
    </form>
</body>
</html>